<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to the Prediction App</h1>
    <p>Please choose one of the prediction tasks below:</p>
    
    <div class="button-container">
        <a href="{{ url_for('performance_form') }}" class="button">Performance Prediction</a>
        <a href="{{ url_for('turnover_form') }}" class="button">Turnover Prediction</a>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; MG apparel.</p>
    </footer>
</body>
</html>
