<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Performance Prediction</h1>
    <form action="/predict_performance" method="POST">
        <label for="Training_Hours">Training Hours:</label>
        <input type="text" id="Training_Hours" name="Training_Hours" required>
        <input type="submit" value="Predict Performance">
    </form>
    <div class="button-container">
        <a href="{{ url_for('home') }}" class="button">Back to Home</a>
    </div>
</body>
</html>
