<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnover Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Turnover Prediction</h1>
    <form action="/predict_turnover" method="POST">
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" required><br>

        <label for="Satisfaction">Satisfaction (1-10):</label>
        <input type="text" id="Satisfaction" name="Satisfaction" required><br>

        <label for="Years_Tenure">Years Tenure:</label>
        <input type="text" id="Years_Tenure" name="Years_Tenure" required><br>

        <input type="submit" value="Predict Turnover">
    </form>
    <div class="button-container">
        <a href="{{ url_for('home') }}" class="button">Back to Home</a>
    </div>
</body>
</html>
